body{
    margin:0px;
    padding: 0px;
    color:darkgray;
}
.numero1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.persona{
    transition: all 5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.persona:hover{
    cursor: grab;
    filter: invert(75%) hue-rotate(300deg) drop-shadow(20px 15px 10px) blur(2px) ;
    transform:rotateZ(25%) rotateX(34deg);
}